torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
torchnet==0.0.4
numpy==1.24.4
pandas==2.3.1
tqdm==4.67.1
matplotlib==3.9.4
rasterio==1.4.3
s2cloudless==1.6.0
natsort==8.4.0
fvcore==0.1.5.post20221221
tensorboard==2.19.0
protobuf==6.31.1
einops==0.8.1
mamba-ssm==2.2.4
ninja==1.11.1.4
scikit-image==0.24.0
scipy==1.13.1
yacs==0.1.8
iopath==0.1.10
sentinelhub==3.11.1
shapely==2.0.7
pyproj==3.6.1
opencv-python==4.12.0.88
